.flex-space-between {
  display: flex;
  justify-content: space-between;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}
.nav-container {
  background: #017BFB;
  height: 100px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 640px) {
  .nav-container {
    flex-direction: column;
    align-items: center;
    height: 300px;
  }
}
.nav-container .logo {
  width: 200px;
  margin: auto 0 auto 20px;
}
.nav-container .nav {
  display: inline-flex;
  max-width: 550px;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
}
@media (max-width: 640px) {
  .nav-container .nav {
    flex-direction: column;
    align-items: center;
  }
}
.nav-container .nav a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  margin: auto 20px;
}
@media (max-width: 640px) {
  .nav-container .nav a {
    margin: 0;
    padding: 20px 0;
  }
}
.nav-container .nav a .nav-btn {
  height: 50px;
  margin: auto 0 auto 10px;
  float: right;
  background: white;
  border-style: none;
  border-radius: 20px;
  padding: 0 30px;
  cursor: pointer;
}
.header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/header-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}
.header .cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 500px;
}
.header .cta p {
  color: white;
  font-size: 2rem;
  text-align: center;
  line-height: 1.5;
  padding-top: 200px;
  font-weight: bold;
}
.header .cta a .cta-btn {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  display: inline-block;
  margin-top: 50px;
  padding: 20px 40px;
  background: #017BFB;
  border-style: none;
  border-radius: 20px;
}
.main-container {
  margin: 0 auto;
  width: 95%;
  max-width: 800px;
}
.stats-container {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  width: 100%;
  margin: 20px auto 0 auto;
}
@media (max-width: 640px) {
  .stats-container {
    flex-direction: column;
    align-items: center;
  }
}
.stats-container .stats-box {
  max-width: 250px;
  width: 100%;
  text-align: center;
}
@media (max-width: 640px) {
  .stats-container .stats-box {
    margin: 20px;
  }
}
.stats-container .stats-box h2 {
  font-size: 2rem;
}
.stats-container .stats-box p {
  font-size: 1.2rem;
  color: #5E5E5E;
  margin-top: 20px;
}
.mission h2 {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  margin: 40px 0;
}
.mission .mission-img {
  width: 48%;
  float: left;
  margin: 0 10px 10px 0;
}
@media (max-width: 640px) {
  .mission .mission-img {
    display: block;
    width: 100%;
  }
}
.mission p {
  color: #5E5E5E;
  font-size: 1.2rem;
  line-height: 2;
}
.objectives {
  clear: left;
  text-align: center;
  margin-top: 20px;
}
.objectives .objective-summary {
  padding-bottom: 40px;
}
.objectives h2 {
  font-size: 2rem;
}
.objectives p {
  font-size: 1.2rem;
  color: #5E5E5E;
  line-height: 2;
  margin-top: 20px;
}
.objectives h3 {
  font-size: 1.8rem;
  margin-top: 40px;
}
.objectives h4 {
  font-size: 1.8rem;
  margin-top: 40px;
}
.objectives .core-objectives {
  display: flex;
  justify-content: space-between;
}
.objectives .core-objectives div {
  width: 30%;
}
@media (max-width: 640px) {
  .objectives .core-objectives div {
    width: 100%;
  }
}
@media (max-width: 640px) {
  .objectives .core-objectives {
    flex-direction: column;
    align-items: center;
  }
}
.video {
  max-width: 560px;
  margin: 0 auto;
  margin-top: 60px;
}
.network-logos {
  display: flex;
  flex-wrap: wrap;
  max-width: 560px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 640px) {
  .network-logos {
    justify-content: space-around;
  }
}
.network-logos a img {
  width: 100px;
  margin: 20px;
}
footer {
  height: 380px;
  width: 100%;
  background: #017BFB;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
footer .footer-content h5 {
  font-size: 1.2rem;
  color: #d2d2d2;
  margin-bottom: 40px;
}
footer .footer-content p {
  color: #4b4b4b;
  font-size: 1.2rem;
  line-height: 2;
  margin-bottom: 40px;
  max-width: 700px;
  width: 95%;
}
footer .footer-content .donate-btn {
  background: white;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 20px 40px;
  border-style: none;
  border-radius: 20px;
  cursor: pointer;
}
.carousel {
  max-width: 800px;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 60px;
}
@media (max-width: 640px) {
  .carousel {
    display: none;
  }
}
.carousel h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}
.carousel .carousel-images-container {
  max-width: 800px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.carousel .carousel-images-container .carousel-img {
  display: none;
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}
.carousel .carousel-images-container .active {
  display: flex;
}
.carousel .carousel-images-container button {
  background: #017BFB;
  color: white;
  border-style: none;
  border-radius: 20px;
  padding: 10px 20px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.5rem;
  width: 140px;
}
.carousel .carousel-content-container .carousel-content {
  display: none;
  font-size: 1.2rem;
  margin-top: 20px;
}
.carousel .carousel-content-container .active {
  display: flex;
}
