.header {
    width: 100%;

    .cta {
        background-image: url(/images/header-img.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        // background-position: center center;
        height: 100vh;
        // padding-top: 800px;
        width: 100%;
        filter: brightness(60%);
        
        p {
            color: white;
            font-size: 2rem;
            // padding: 700px 50px 0 50px;
        }
    
        a {
    
            .cta-btn {
                // margin: 0 auto;
                display: inline-block;
                // margin-bottom: 200px;
                
            }
        }
    }
}
