.nav-container {
    background: #212121;
    height: 100px;
    display: flex;
    // justify-content: space-between;
    width: 100%;

    .logo {
        height: 100px;
        width: 100px;
    }
    
    h1 {
        font-size: 1.6rem;
        color: white;
        margin: auto 0;

    }

    .nav {
        display: flex;
        justify-content: flex-end;
        width: 500px;
        align-items: center;
        background: red;
        float: right;

        a {
            color: white;
            text-decoration: none;
            font-size: 1.6rem;
            margin: 0 20px;
        }

        .btn {
            height: 50px;
            margin: 0 30px;
        }
    }
}