.nav-container {
    background: #212121;
    height: 100px;

    .logo {
        height: 100px;
        width: 100px;
        float: left;
    }
    
    h1 {
        font-size: 1.6rem;
        color: white;
        margin: auto 0;
        float: left;
    }

    .nav {
        display: inline-flex;
        width: 500px;
        height: 100%;
        background: red;
        float: right;
        

        a {
            color: white;
            text-decoration: none;
            font-size: 1rem;
            // margin: 0 20px;
        }

        .btn {
            height: 50px;
            margin: auto;
            float: right;
        }
    }
}