.nav-container {
    background: #017BFB;
    height: 100px;
    display: flex;
    justify-content: space-between;

    @media @mobile {
        flex-direction: column;
        align-items: center;
        height: 300px;
    }

    .logo {
        width: 200px;
        margin: auto 0 auto 20px;
    }

    .nav {
        display: inline-flex;
        max-width: 550px;
        height: 100%;
        width: 100%;
        flex-wrap: wrap;

        @media @mobile {
            flex-direction: column;
            align-items: center;
        }

        a {
            color: white;
            text-decoration: none;
            font-size: 1rem;
            margin: auto 20px;

            @media @mobile {
                margin: 0;
                padding: 20px 0;
            }

            .nav-btn {
                height: 50px;
                margin: auto 0 auto 10px;
                float: right;
                background: @green;
                border-style: none;
                border-radius: 20px;
                padding: 0 30px;
                cursor: pointer;
            }
        }
    }
}